<header>
  <h1><a href="/">MyDrive</a></h1>

  <div class="search-bar">
    <img src="/images/magnifying-glass.svg" alt="" aria-hidden="true" />
    <input type="text" placeholder="Search MyDrive" />
  </div>
  <div class="links-container">
    <a href="/logout">Logout</a>
    <a href="/"><%= user %></a>
  </div>
</header>
