<div class="add-modal hidden">
  <ul>
    <li id="add-folder-btn">
      <img src="/images/new-folder.svg" alt="" />
      New Folder
    </li>
    <hr />
    <li id="add-file-btn">
      <img src="/images/new-file.svg" alt="" />
      New File
    </li>
  </ul>
</div>
