<div class="my-drive">
  <p>Name</p>
  <ul class="drive-container">
    <% (files || []).forEach( file => { %>
    <li class="link-item">
      <%= file.originalName %>
      <div class="file-option-container">
        <a href="/file/delete/<%= file.id %>">
          <img src="/images/delete-file.svg" alt="delete" class="delete-file" />
        </a>
        <a href="/file/download/<%= file.id %>"
          ><img src="/images/download.svg" alt="download" class="download-file"
        /></a>
        <a href="/file/share/<%= file.id %>">
          <img src="/images/share-file.svg" alt="share" class="share-file" />
        </a>
      </div>
    </li>
    <%}) %>
  </ul>
</div>
