<aside class="sidebar">
  <button id="new-file-btn">New</button>

  <div class="btn-grp">
    <button id="my-files-btn" class="active">
      <img src="/images/home2.svg" alt="" />
      My files
    </button>
    <button id="shared-files-btn">
      <img src="/images/share.svg" alt="" />
      Shared with me
    </button>
  </div>
</aside>
