<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/general.css" />
    <link rel="stylesheet" href="/login.css" />
  </head>
  <body>
    <main>
      <div class="left-container">
        <h1>Sign in</h1>
        <p>To use my drive</p>
      </div>
      <div class="right-container">
        <input
          type="text"
          name="username"
          id="username"
          placeholder="username"
          minlength="8"
          required
        />
        <button type="button" id="forgot-email-btn">Forgot email?</button>
        <div class="btn-container">
          <button type="button" id="create-account-btn">Create account</button>
          <button type="button" id="next-btn">Next</button>
        </div>
      </div>
    </main>
  </body>
</html>
