<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/general.css" />
    <link rel="stylesheet" href="/styles/public-share.css" />
    <script src="/js/public-share.js" defer></script>
  </head>
  <body>
    <main>
      <form action="/file/public/download/<%= shareId %>">
        <h1><%= originalName %></h1>
        <h2><%= fileSize %></h2>
        <button type="submit">Download files</button>
      </form>
    </main>
  </body>
</html>
