.container {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 64px 1fr;
  grid-template-areas:
    "header header"
    "sidebar main";
  min-height: 100vh;
  min-width: 100%;
}

main {
  grid-area: main;
  background-color: var(--side-bgc);
  padding-bottom: 15px;
}

.content {
  height: 100%;
  border-radius: 20px;
  background-color: white;
}
